<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anzhuo.weibo">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/weibo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".NewActivity">

        </activity>
        <activity android:name=".AddActivity">

        </activity>
        <activity android:name=".AddGroup">

        </activity>
        <activity android:name=".FriendfollowActivity">

        </activity>
        <activity android:name=".SetActivity">

        </activity>
        <activity android:name=".SendActivity">

        </activity>
<activity android:name=".EnterActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
        <activity android:name=".RegistActivity">

        </activity>
    </application>

</manifest>